################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sergeant3DEngine/.vs
/Sergeant3DEngine/out
